asyncio
requests
botbuilder-core
botframework-connector
botbuilder-schema
botbuilder-dialogs
botbuilder-ai
botbuilder-applicationinsights
botbuilder-integration-applicationinsights-aiohttp
datatypes-date-time
azure-cognitiveservices-language-luis
msrest
pytest
botbuilder-testing

